@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");

* {
    font-family: Space Mono;
}

html,
body {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

body {
    background: #202124;
}

.omnibox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    color: white;
    text-align: center;
    margin-top: 15%;
}

img {
    pointer-events: none;
}

#search {
    color: white;
    background: transparent;
    outline: none;
    border: 1px solid #5f6368;
    height: 44px;
    width: 600px;
    border-radius: 15px 0 0 15px;
    padding-left: 15px;
    font-size: 16px;
    border-right: none;
    transition: color 1s;
}

@media screen and (max-width: 1000px) {
    #search {
        width: 600px;
    }
}

.go {
    color: white;
    background: transparent;
    height: 48px;
    font-size: 16px;
    border-radius: 0 15px 15px 0;
    border: 1px solid #5f6368;
    cursor: pointer;
    width: 48px;
    transition: 1s;
}

.go:hover {
    background: #5f6368;
    background: white;
    color: black;
}

.icons-pos {
    position: fixed;
    bottom: 10px;
    width: 100%;
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    color: white;
    border-radius: 50%;
    border: 1px solid #5f6368;
    width: 45px;
    height: 45px;
    font-size: 20px;
    display: flex;
    margin-right: 3px;
    margin-left: 3px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #202124;
    transition-duration: 1s;
}

.icon:hover {
    background-color: white;
    color: #202124;
    border: 1px solid white;
}

a {
    text-decoration: none;
    color: dodgerblue;
}

img {
    /* transform: scale(0.7); */
    width: 40vh;
}

.hover {
    color: dodgerblue;
    position: relative;
    text-decoration: none;
}

.hover::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: dodgerblue;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.hover:hover::before {
    transform: scaleX(1);
}

.settings {
    display: none;
    float: right;
    margin-right: 50px;
    margin-top: 2vh;
}

.settings:hover {
    text-decoration: underline;
}

#settings-tab {
    display: none;
    position: absolute;
    color: white;
    background-color: #202124;
    width: 100vw;
    height: 100vh;
    text-align: center;
    z-index: 9999;
}

.section > * {
    display: inline-block;
}

.enabled {
    color: palegreen;
}

.disabled {
    color: red;
}

.advanced {
    text-align: center;
}

#suggestions {
    display: none;
    width: 663px;
    height: 265px;
    border: 1px solid #5f6368;
    border-radius: 0 0 25px 25px;
    border-top: none;
    overflow: hidden;
    position: absolute;
    background: #202124;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: left;
}

.sugg {
    color: white;
    font-size: 16px;
    cursor: pointer;
    padding: 5px;
    padding-left: 10px;
}

.sugg:hover {
    background: white;
    color: black;
}
